body {
  display: block;
  flex-direction: column;
  align-items: normal;
  text-align: center;
  background-color: white;
}

.menu-bar {
  background: black;
  border-radius: 40px;
  height: 90px;
  width: 694px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bar button {
  border-radius: 40px;
  height: 50px;
  width: 79px;
  background-color: yellow;
  border: none;
  padding: 10px;
  margin: 0 5px;
}

.menu-bar ul {
  list-style-type: none;
  display: flex; 
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.menu-bar ul li a {
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.menu-bar ul li a:hover {
  background-color: #555;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two equal columns */
  gap: 10px; /* space between cards */
}

.intro {
  background-color: black; 
  border-radius: 40px;
  height: 290px;
  width: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.template {
  height: 123px;
  border-radius: 34px;
  display: flex;
  padding: 14px 20px;
}

.intro h1 {
  color: white;
  font-family: verdana;
  font-size: xx-large; 
  display: flex;
  justify-content: center;
}

.mipmap {
  height: 53px;
  border-radius: 67px;
  display: flex;
  padding: 14px 20px;
  margin: 0;
}
.txt{
  color: gray;
  font-family: verdana;
}
.counter-section{
 padding:80px 20px;
 background: black;
  margin-top: 20px;
border-radius: 40px;
  width: 300px;
}

.counter{
font-size:62px;
font-weight:bold;
color: yellow;
  font-family: verdana;
}

.label{
font-size:22px;
margin-top:10px;
}
.label h1{
  color: yellow;
  font-size: small;
}
.ping{
  color: gray;
  font-family: san-serif;
}
.ceo{
  height: 220px;
  border-radius: 34px;
  border: gray;
  margin-top: 10px;
  width: auto;
}
.external{
  background-color: black;
  border: none;
  border-radius: 34px;
  margin-top: 10px;
  height: 324px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:300px;
}
.external h6{
  color: yellow;
  font-family: verdana;
  font-weight: bold;
  font-size: 14px;
}
.external h5{
  color:yellow; 
  position: absolute;
}
.tel p{
  color: yellow;
  font-weight: bold;
  font-size: 14px;
  font-family: verdana;
}
.tel{
  background: black;
  border-radius: 34px;
  height: 96px;
  padding:10px;
  margin-top: 10px;
  width: 300px;
}
.tel strong{
  color: yellow;
  font-weight: bolder;
  font-family: verdana;
  font-size: 48px;
}
.email{
  background: black;
  border-radius: 34px;
  height: 96px;
  padding:10px;
  margin-top: 10px;
  width: 310px;
}
.email h5{
  color:yellow;
  font-family: verdana;
  font-weight: bold;
  font-size: 14px;
}
.email a{
  text-decoration: none;
  color: yellow;
  font-family: verdana;
  font-size: 13px;
}
.email button{
  border-radius: 34px;
  border: none;
  background: yellow;
  height: 30px;
}
.maps{
  background: black;
  border-radius: 34px;
  height: 96px;
  padding:10px;
  margin-top: 10px;
  width: 310px;
  
}
.maps h3{
  color:yellow;
  font-family: verdana;
}
.maps button{
  border-radius: 34px;
  border: none;
  background: yellow;
  height: 30px;
  width: 74px;
}
.social{
  background: black;
  border-radius: 40px;
  height: 150px;
  width: 300px;
  margin-top: 20px;
}
.social h3{
  color: yellow;
  font-family: verdana;
}
.social button{
  height: 40px;
  width: 109px;
  border-radius: 34px;
  background: yellow;
  border: none;
}
.content{
  background: black;
  height: 224px;
  border-radius: 34px;
  width: 310px;
  align-items: center;
  justify-items: center;
  margin-top: 20px;
}
.content h2{
  color: yellow;
  font-family: verdana;
  font-style: oblique;
  font-weight: bolder;
}
.content button{
  background: yellow;
  height: 44px;
  width: 99px;
  border-radius: 34px;
  border: none;
  justify-items: normal;
}
.net{
  height: 100px;
  width: 178px;
}
.base{
  height: 100px;
  width: 101px;
  border-radius: 34px;
}
.quiz{
  background: black;
  height: 224px;
  border-radius: 34px;
  width: 310px;
  align-items: center;
  justify-items: center;
  margin-top: 20px;
}
.quiz h2{
  color: yellow;
  font-family: verdana;
  font-style: oblique;
  font-weight: bolder;
}
.quiz button{
  background: yellow;
  height: 44px;
  width: 99px;
  border-radius: 34px;
  border: none;
  justify-items: normal;
}
